.footer{
    position: absolute;
    width: 100%;
    height: 12vh;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    background: lightgrey;
    margin-top: 20px;
}
/* .footer-img {
    position: relative;
    
} */
img {
    /* margin: 2%; */
    height: 95%;
}